    /* global */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* header */
    
    .header {
        background-color: #4e2a84;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
    
    .header_brand {
        color: white;
        font-size: 30px;
        text-decoration: none;
        font-weight: bolder;
        margin-right: 15%;
    }
    
    .header_nav ul {
        list-style: none;
    }
    
    .header_nav ul li {
        display: inline;
    }
    
    .header_nav ul li a {
        color: white;
        font-size: 15px;
        text-decoration: none;
        font-weight: 500;
        margin: 0 10px;
    }
    
    .header_nav ul li.active a {
        color: red;
    }
    /* carousel */
    
    .carousel {
        background-image: url('../img/b3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        align-items: center
    }
    
    .carousel_content {
        width: 100%;
        text-align: center;
        color: white;
    }
    
    .carousel_content h1 {
        font-size: 40px;
        font-weight: 500px;
        word-spacing: 2px;
        margin-bottom: 4px;
    }
    
    .carousel_content p {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 16px;
        color: rgb(221, 221, 221);
    }
    
    .carousel_content .but_pink {
        background-color: #ff0c82;
        padding: 8px 16px;
        border: 1px solid rgb(221, 221, 221);
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    /* intro */
    
    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }
    
    .intro_item {
        display: flex;
        align-items: center;
        /*cho nội dung bên trong intro item vô giữa*/
        text-align: center;
    }
    
    .intro_item img {
        width: 100%;
        display: block;
    }
    
    .intro_item h2 {
        font-size: 30px;
        margin-bottom: 20px;
        color: white;
    }
    
    .intro_item p {
        font-size: 14px;
        line-height: 20px;
        padding: 2px;
        color: rgb(221, 221, 221);
    }
    
    .intro_tradition {
        background-color: #4e2a84;
    }
    
    .intro_img1 {
        grid-column: 2/span 2;
    }
    
    .intro_creativity {
        background-color: #ff0e83;
    }
    
    .intro_thing {
        background-color: #ed6498;
        grid-column: 1/span 2;
    }
    
    .intro_quality {
        background-color: #836eaa;
    }
    
    .intro_tasty {
        background-color: #4e2a84;
    }
    
    .intro_img4 {
        grid-column: 3/span 2;
    }
    /* video */
    
    .video {
        padding: 0 15%;
    }
    
    .statific {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 30px 0;
    }
    
    .statific .statific_item {
        text-align: center;
    }
    
    .statific .statific_item h2 {
        color: #4e2a84;
        font-size: 20px;
        margin-bottom: 2px;
    }
    
    .statific .statific_item p {
        font-size: 16px;
        color: black;
    }
    /* service  */
    
    .service {
        background-image: url('../img/s1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 450px;
    }
    
    .service .service_brand {
        width: 100%;
        line-height: 30px;
        text-align: center;
        padding: 50px;
    }
    
    .service .service_brand {
        color: white;
        font-size: 40px;
        font-weight: 500px;
    }
    
    .service .service_content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .service .service_content .service_item {
        padding: 0 10px;
        text-align: center;
    }
    
    .service .service_content .service_item i {
        height: 100px;
        line-height: 100px;
        width: 100px;
        border: 1px solid #4e2384;
        font-size: 50px;
        border-radius: 50%;
        color: #4e2384;
        text-align: center;
        background-color: white;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    .service .service_content .service_item h1 {
        margin: 20px auto;
    }
    
    .service .service_content .service_item p {
        margin: 20px auto;
    }
    
    .service .service_content .service_item .but_pink {
        background-color: #ff0c82;
        padding: 8px 16px;
        border: 1px solid rgb(221, 221, 221);
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    /* gallery */
    
    .gallery {
        width: 100%;
        padding: 20px
    }
    
    .gallery_brand {
        text-align: center;
        padding: 10px auto;
        line-height: 100px;
    }
    
    .gallery_brand h1 {
        font-size: 40px
    }
    
    .gallery_content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    
    .gallery_content .item {
        display: flex;
        position: relative;
    }
    
    .gallery_content img {
        width: 100%;
        height: 100%;
        display: block;
    }
    
    .gallery_item1 {
        grid-column: 1/span 2;
    }
    
    .gallery_item6 {
        grid-column: 3/span 2;
    }
    /*đưa nguyên đoạn div lên trên*/
    
    .gallery_detail {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: right;
        top: 10px;
        left: 0;
        color: white;
    }
    /*thêm đường kẻ*/
    
    .gallery_detail h1::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: white;
        /* display: block; */
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        opacity: 0;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
    }
    
    .gallery_detail p {
        position: absolute;
        right: 20px;
        bottom: 20px;
        transform: translateY(40px);
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        opacity: 0;
        transition: all .5s linear;
    }
    
    .gallery_content .item:hover .gallery_detail h1::after,
    .gallery_content .item:hover .gallery_detail p {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    /* team */
    
    .team {
        width: 100%;
        padding: 20px;
        background-color: #4e2384
    }
    
    .team_brand {
        padding: 20px;
        line-height: 50px;
    }
    
    .team_brand h1 {
        color: white;
        font-size: 40px;
        text-align: center;
    }
    
    .team_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    
    .team_content .team_item {
        position: relative;
    }
    
    .team_content .team_item img {
        width: 100%;
        display: block;
    }
    
    .team_content .team_item .team_item_pink {
        width: 100%;
        background-color: #ff0c82;
        color: white;
        position: absolute;
        line-height: 40px;
        bottom: 0;
        left: 0;
        padding: 10px;
        opacity: 1;
    }
    
    .team_content .team_item .team_item_black {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all 0.5;
        -webkit-transition: all 0.5;
        -moz-transition: all 0.5;
        -ms-transition: all 0.5;
        -o-transition: all 0.5;
    }
    
    .team_content .team_item .team_item_black {
        color: white;
    }
    
    .team_content .team_item:hover .team_item_pink {
        opacity: 0;
    }
    
    .team_content .team_item:hover .team_item_black {
        opacity: 1;
    }
    /*contact*/
    
    .contact {
        padding: 40px 15%;
    }
    
    .contact_title {
        font-size: 40px;
        color: black;
        text-align: center;
    }
    
    .contact_form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 22px;
        grid-row-gap: 16px;
    }
    
    .form_control {
        width: 100%;
        border: 1px solid black;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        padding: 8px;
    }
    
    .message {
        grid-column: 1/span 2;
    }
    
    .btn_pink {
        background-color: #ff0c82;
        padding: 8px 16px;
        border: 1px solid rgb(221, 221, 221);
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    
    .btn_sub {
        grid-column: 1/span 2;
    }